<section class="content">
  <h1>Pokedex</h1>

  <ol id="pokemonList" class="pokemons">
    <!-- ..... Pokemons here ..... -->
  @for (pokemon of pokemons; track pokemon.number) {
  <li class="pokemon {{ pokemon.type }}">
    <button
      id="pokeDetails"
      type="button"
      (click)="loadNewPage(pokemon.number)"
    >
      <span class="number">#{{ pokemon.number }}</span>
      <span class="name">{{ pokemon.name }}</span>
      <div class="detail">
        <ol class="types">
          @for (type of pokemon.types; track type) {
          <li class="type {{ type }}">{{ type }}</li>
          }
        </ol>
        <img src="{{ pokemon.photo }}" alt="{{ pokemon.name }}" />
      </div>
    </button>
  </li>
  }@empty {
  <li>Nenhum pokemon encontrado</li>
  }
  </ol>
  <div class="pagination">
    <button id="loadMoreButton" type="button" (click)="loadMoreButton()">
      Load More
    </button>
  </div>
</section>
