*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    text-transform: capitalize;
    text-decoration: none;
}

.interface{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    position: relative;  
}

.interface .pokemon {
    background-color: var(--cor-grass);
    height: 380px;
    width: 100%;
    border: 0 10 0 10;
    margin: 0;
    padding: 0;
    border-radius: 0%;
}

.interface .pokemon .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.interface .pokemon .icons i{
    color: white;
}

.icons .heart{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.icons .heart.active i{
    color: red;
}

.interface .pokemon .basicInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 20px;
}

.interface .pokemon .basicInfo .name{
    font-size: 2.7rem;
    font-weight: bold;
}

.interface .pokemon .basicInfo .number{
    color: white;
    opacity: 1;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
}

.interface .pokemon .basicInfo .detail .types{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.interface .pokemon .basicInfo .detail .types li{
    font-size: .750rem;
}

.interface .imgPokemon{
    position: relative;
    display: flex;
    top: 4%;
    justify-content: center;
    z-index: 1;
}

.interface .pagination_details{
    position: absolute;
    top: 96%;
    background-color: white;
    margin: 0;
    padding: 7px;
    display: inline-block;
    border-top: 30px;
    border-radius: 1rem;
    width: 100%;
    text-align: center; 
    
}

.pagination_details .tab_links{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    overflow: hidden;
    background-color: var(--cor-name);
    border: 0px 10px;
}

.pagination_details .tab_links .botao-detalhe{
    padding: 20px 0px;
    color: gray;
    float: left;
    border: 1px;
    background-color: var(--cor-name);
    width: 25%;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.tab_links .botao_detalhe:hover{
    color: black;
    border-bottom: 1.5px solid blue; 
}

.pagination_details .tab_links .botao-detalhe.active{
    border-bottom: 1.5px solid blue;
}

.subdetails {
    display: none;
}

.subdetails.show{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    font-size: 1rem;
}

.atributo h2{
    font-weight: 400;
}

.atributo h3{
    font-weight: 200;
    padding: 5px;
}

.atributo p{
    font-weight: 300;
    padding: 5px;
}

.atributo .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.atributo .conteiner-ability{
    display: inline;
    gap: 10px;
}

.sts {
    display: flex; 
    justify-content: space-between;
    text-align: center; 
}

.sts .statNumber{
    display: grid;
    padding: 37%;
}

.progress-container {
    margin-left: 30px;
    margin-bottom: 1px;
    padding: 39%;
    width: 300px; /* Largura da barra */
    height: 30px; /* Altura da barra */
    background-color: #ccc; /* Cor de fundo */
    border-radius: 5px; /* Arredondamento dos cantos */
  }

.progress-bar {
    height: 100%; /* Altura total da barra */
    background-color: #007bff; /* Cor da parte preenchida */
    transition: width 0.5s ease; /* Animação de transição */
  }
  
.progress-value {
    position: absolute; /* Posicionamento absoluto dentro do container */
    top: 50%; /* Posicionamento vertical centralizado */
    left: 50%; /* Posicionamento horizontal centralizado */
    transform: translate(-50%, -50%); /* Ajusta a posição de acordo com o posicionamento absoluto */
    font-size: 18px; /* Tamanho da fonte do valor percentual */
}

.atributo.move{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 992px) {
    .interface {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}